vendor/
node_modules/
.git/
dist/
build/
cache/
*.min.css
*.min.js
assets/img/
assets/images/
assets/fonts/
assets/media/
*.jpg
*.jpeg
*.png
*.webp
*.gif
*.svg
*.ico
*.woff
*.woff2
*.ttf
*.eot
composer.lock
package-lock.json
yarn.lock
pnpm-lock.yaml
