$colors: (
  body: (
    color: #343c4d,
  ),
  heading: (
    color: #01022e,
  ),
  theme: (
    primary: #0047ff,
    secondary: #01022e,
  ),
  color: (
    sky-blue: #00b2ff,
    yellow-light: #ffb930,
    yellow-light-2: #f09e24,
    red-light: #dc0000,
    white-default: #ffffff,
    gray-1: #f5f6fc,
    gray-2: #f8f9fd,
    gray-3: #e9ebee,
    gray-4: #e9ebf8,
    gray-5: #e8e8e8,
    gray-6: #bcbcbc,
    gray-7: #9597c8,
    gray-8: #eff0f4,
    gray-9: #8c919c,
    gray-10: #eff1fa,
    gray-11: #667594,
    gray-12: #f0f0f0,
    gray-13: #f8f8f8,
    dark: #121212,
    dark-2: #040426,
    gradient: linear-gradient(90deg, #c3d4ff 0%, #0047ff 100%),
  ),
  border: (
    1: #555c6a,
    2: #e6e7f3,
    3: #737373,
    4: #b8b9da,
    5: #dcdcdc,
    6: #cfdde2,
    7: #d1d4e3,
    8: #eaeaea,
    9: #dadada,
    10: #dbdeed,
    11: #d2d7e1,
    12: #ebebeb,
    13: #d3d5e2,
    14: #e0e1e9,
  ),
);
